<div class="container my-5 d-flex flex-column" >
    <h1 class="text-center mb-5">Contact Us</h1>
    <div class="d-flex flex-column flex-md-row justify-content-evenly my-5">
        <div class="d-flex flex-column text-secondary align-items-center align-items-md-start ">
            <i class="bi bi-headphones fs-1 text-warning text-center"></i>
            <span class="text-center fw-bold">by phone number</span>
            <span>+9890323282183</span>
            <span>+989023423423</span>
            <span>+9851 1239 23432</span>
        </div>
        <div class="d-flex flex-column text-secondary align-items-center align-items-md-start  ">
            <i class="bi bi-envelope-at fs-1 text-warning text-center"></i>
            <span class="text-center fw-bold">by phone Email</span>
            <span>faramarzsakhi@yahoo.com</span>
            <span>contact@sneaker.com</span>
            <span>fax: fax@sneaker.com</span>
        </div>
        <div class="d-flex flex-column text-secondary  align-items-center align-items-md-start ">
            <i class="bi bi-chat-dots fs-1 text-warning text-center"></i>
            <span class="text-center fw-bold">Live Chat</span>
            <span>chat live with one of our employee </span>
            <span>to solve your problem</span>
            <a class="btn btn-warning bg-gradient mt-3">Start Chat</a>
            
        </div>
    </div>
</div>