<div class="container my-3 row mx-auto justify-content-center ">
  <div id="carousel" class="carousel slide col-12 col-lg-6">
    <div class="carousel-inner  ">
      <div class="carousel-item ">
        <img src="assets/carousel/1.jpg" class="d-block w-100" alt="..." >
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="assets/carousel/4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/5.jpg" class="d-block w-100" alt="...">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="col-12 col-lg-6 d-flex flex-column align-items-start">
    <h3 class="">Sneaker Products</h3>
    <span class="text-secondary-emphasis">The best</span>
    <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem facilis nobis in dolorem esse ea
      officia odio quod, assumenda sed nemo quo. Quibusdam asperiores officia veniam voluptates cupiditate magnam.
      Voluptate!</p>
    <a  class="btn btn-outline-warning py-2 px-4 mt-auto" routerLink="/product" >Go to products
      page</a>
  </div>
</div>



<!-- Featured items -->
<div class="col-12 container d-flex flex-column aling-items-center justify-content-center my-4 alert alert-primary">
  <div class="h1 text-center ">Featured Products</div>
  <div class="row ">
    <div class="col-12 col-lg-3">
      <div class="card">
        <img src="assets/images/fproducts/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">nice snicker</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a  class="btn btn-primary" routerLink="/buyProduct">buy</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 ">
      <div class="card">
        <img src="assets/images/fproducts/5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">nice snicker</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a  class="btn btn-primary" routerLink="/buyProduct">buy</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card">
        <img src="assets/images/fproducts/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">nice snicker</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a  class="btn btn-primary" routerLink="/buyProduct">buy</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card">
        <img src="../../../assets/images/fproducts/4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">nice snicker</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a  class="btn btn-primary" routerLink="/buyProduct">buy</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- journal -->
<div class="accordion accordion-flush my-5 container alert alert-warning" id="accordionJournal">
  <div class="accordion-header"><h1>Journal</h1></div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        lorem
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere praesentium alias eum distinctio dolorum ipsam necessitatibus, velit ipsa numquam quo sed fuga debitis dignissimos sunt enim incidunt saepe, repudiandae ducimus!.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Lorem. #2
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus eligendi voluptates quod fugit et, quidem, similique repellendus omnis aliquam alias tempore magnam, modi sit dolor enim! Sint voluptatum ab nisi tempore.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Lorem, ipsum. #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi expedita rem, dolorum temporibus fuga, reiciendis accusantium vero quibusdam deleniti autem ullam. Cum error pariatur voluptatum amet, commodi quia fugiat molestias explicabo omnis necessitatibus. Odio, ex repellendus sit labore dolore quo, esse totam id, excepturi at unde. Earum molestiae deleniti incidunt!</div>
    </div>
  </div>
</div>