<div class="container alert alert-secondary p-3 text-center d-flex flex-column">
  <div>
    <h1>Filters</h1>
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-evenly fs-5 gap-2">
        <label for="all">
          All
          <input type="radio" name="filter" value="" id="all"
              [(ngModel)]="activeFilter"
            
            >
        </label>  
        <label for="popular">
              Popular
              <input type="radio" name="filter" value="popular" id="popular"
              [(ngModel)]="activeFilter"
              
              >
          </label>
          <label for="mostExpensive">
              Most Expensive
              <input type="radio" name="filter" value="mostExpensive" id="mostExpensive"
              [(ngModel)]="activeFilter" 
                
                >
          </label>
          
          
          <label for="free">
              Free
              <input type="radio" name="filter" value="free" id="free"
              [(ngModel)]="activeFilter" 
                
                  >
          </label>
        
          <label for="newest">
              Newest
              <input type="radio" name="filter" value="newest" id="newest"
              [(ngModel)]="activeFilter"   
                
                >
          </label>
  </div>
    
          
          
  </div>
  <div class="d-flex flex-column flex-md-row mt-5 gap-5">
    <label for="width">width:</label><input type="number" id="width" placeholder="width" [(ngModel)]="width">
   <label for="color">color:</label> <select name="color" id="color" [(ngModel)]="color">
      <option *ngFor="let c of colors" [ngValue]="c">{{c}}</option>
    </select>
    <label for="type">type:</label><select name="type" id="type" [(ngModel)]="type">
      <option *ngFor="let b of types" [ngValue]="b">{{b}}</option>
    </select>
  </div>
</div>
<app-dynamic-products [activeFilter]="activeFilter" [borderColor]="color" [borderType]="type" [borderWdith]="width"></app-dynamic-products>