s
  <div class="row mx-auto ">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white col-12 col-md-3 col-lg-4">
        <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
          <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-5 fw-semibold">Title List</span>
        </a>
        <div class="list-group list-group-flush border-bottom scrollarea">
          <a    class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">first Title</strong>
              <small>Wed</small>
            </div>
            <div class="col-10 mb-1 small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus delectus sunt qui facere vitae impedit, eligendi nobis hic nihil similique!.</div>
          </a>
          <a    class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">second Title</strong>
              <small>Wed</small>
            </div>
            <div class="col-10 mb-1 small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus delectus sunt qui facere vitae impedit, eligendi nobis hic nihil similique!.</div>
          </a>
          <a    class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">second Title</strong>
              <small>Wed</small>
            </div>
            <div class="col-10 mb-1 small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus delectus sunt qui facere vitae impedit, eligendi nobis hic nihil similique!.</div>
          </a>
          <a    class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">second Title</strong>
              <small>Wed</small>
            </div>
            <div class="col-10 mb-1 small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus delectus sunt qui facere vitae impedit, eligendi nobis hic nihil similique!.</div>
          </a>
         
        </div>
      </div>
      <div class="col-12 col-md-9 col-lg-8">
        <h1>first</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti temporibus quas autem. Reprehenderit asperiores consequatur nisi beatae, iure expedita temporibus natus minus unde excepturi enim exercitationem mollitia soluta sunt facere placeat ullam. Earum, optio ad, corporis veniam corrupti quae dolorum porro nulla ipsum, quis impedit. Explicabo impedit necessitatibus dolores ratione.</p>
        <h1>second</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti temporibus quas autem. Reprehenderit asperiores consequatur nisi beatae, iure expedita temporibus natus minus unde excepturi enim exercitationem mollitia soluta sunt facere placeat ullam. Earum, optio ad, corporis veniam corrupti quae dolorum porro nulla ipsum, quis impedit. Explicabo impedit necessitatibus dolores ratione.</p>
        <h1>third</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti temporibus quas autem. Reprehenderit asperiores consequatur nisi beatae, iure expedita temporibus natus minus unde excepturi enim exercitationem mollitia soluta sunt facere placeat ullam. Earum, optio ad, corporis veniam corrupti quae dolorum porro nulla ipsum, quis impedit. Explicabo impedit necessitatibus dolores ratione.</p>
      </div>
  </div>