
label{
    width: 200px;
    padding: 10px;
    background: rgb(109, 109, 109);
    color:white;
    border-radius: 80px;
    box-shadow: 0px 3px 55px -17px rgba(0,0,0,0.88);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
